@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayouClientShared";
}
@section Css
{
<link rel="stylesheet" href="~/css/changepassword.css">
}
<div id="toast-container"></div>
@if (ViewBag.ChangePassMessage != null)
{
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            showToast('@ViewBag.ChangePassMessage', '@ViewBag.ChangePassType' ?? 'success');
        });
    </script>
}
<div class="container changepass-container">
    <h2 class="changepass-title"><i class="fa fa-key"></i> Đổi mật khẩu</h2>
    <form id="changePasswordForm" action="/Changepassword/Changepassword" method="post" autocomplete="off">
        <div class="changepass-row">
            <label class="changepass-label" for="currentPassword"><i class="fa fa-lock"></i> Mật khẩu hiện tại</label>
            <div class="changepass-input-wrap">
                <input type="password" id="currentPassword" name="oldPassword" class="changepass-input" required>
                <span class="toggle-eye" data-target="currentPassword"><i class="fa fa-eye"></i></span>
            </div>
        </div>
        <div class="changepass-row">
            <label class="changepass-label" for="newPassword"><i class="fa fa-lock-open"></i> Mật khẩu mới</label>
            <div class="changepass-input-wrap">
                <input type="password" id="newPassword" name="newPassword" class="changepass-input" required
                       autocomplete="new-password">
                <span class="toggle-eye" data-target="newPassword"><i class="fa fa-eye"></i></span>
            </div>
        </div>
        <div class="changepass-row">
            <label class="changepass-label" for="confirmPassword"><i class="fa fa-lock"></i> Xác nhận mật khẩu mới</label>
            <div class="changepass-input-wrap">
                <input type="password" id="confirmPassword" name="confirmPassword" class="changepass-input" required
                       autocomplete="new-password">
                <span class="toggle-eye" data-target="confirmPassword"><i class="fa fa-eye"></i></span>
            </div>
        </div>
        <button type="submit" class="changepass-btn">
            <i class="fa fa-save"></i> Cập nhật mật khẩu
        </button>
        <div id="changepassError" class="changepass-error"></div>
    </form>
</div>
@section Script
{
    
    <script src="~/js/home.js"></script>
    <script src="~/js/changepassword.js"></script>
}