@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayouClientShared";
}
@section Css
{
<link rel="stylesheet" href="~/css/home.css">
}
<!-- Hero Section -->
<section class="hero">
    <img class="hero-bg" src="~/img/banner.webp" alt="">
    <div class="hero-content">
        <h1>CÂY CẢNH MINI</h1>
        <p>ĐEM LẠI VẺ ĐẸP THIÊN NHIÊN CHO CUỘC SỐNG CỦA BẠN</p>
        <a href="/Shop/Shop" class="hero-btn">SHOP NOW</a>
    </div>
    <img class="brush" src="brush.png" alt="">
</section>

<!-- DANH MỤC SẢN PHẨM -->
<section class="categories">
    <div class="section-title">
        <div class="section-squiggle">~~~</div>
        <div class="section-sub">THE BEST COLLECTION</div>
        <h2>DANH MỤC SẢN PHẨM</h2>
    </div>
    <div class="category-grid">
        <div class="category-item category-large">
            <img src="~/img/caydeban.jpg" alt="Cây để bàn">
            <div class="cat-label">CÂY ĐỂ BÀN</div>
        </div>
        <div class="category-item">
            <img src="~/img/chauCay.jpg" alt="Chậu">
            <div class="cat-label">CHẬU</div>
        </div>
        <div class="category-item">
            <img src="~/img/thiepCamOn.jpg" alt="Quà tặng">
            <div class="cat-label">QUÀ TẶNG</div>
        </div>
    </div>
</section>

<!-- SẢN PHẨM BÁN CHẠY -->
<section class="best-seller">
    <div class="section-title">
        <div class="section-squiggle">~~~</div>
        <div class="section-sub">THE MOST TRENDY</div>
        <h2>SẢN PHẨM BÁN CHẠY</h2>
    </div>

    <div class="product-list">
        @foreach (var product in ViewBag.ProductSeller)
        {
            <div class="product-card" data-category="floor">
                <img src="sp8.jpg" alt="">
                <a class="name" href="../html/productDetail.html">@product.ProductName</a>
                <div class="price">@string.Format("{0:N0}₫", product.Price)</div>
            </div>
        }
        

    </div>
</section>

@section Script
{
    <script src="~/js/cart.js"></script>
    <script src="~/js/home.js"></script>
}